
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=PT+Serif:ital,wght@1,700&family=Spectral:ital,wght@1,300&display=swap');


* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

footer{
  width: 100%; position: relative; bottom: 0; background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(10px);
}

#checkbtn{
  float: right;
  margin-right: 30px;
  font-size: 30px;
  color: white;
  display: none;
  cursor: pointer;
}



.mainheader {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* backdrop-filter: blur(10px); */
}

.mainheader .logo img {
    width: 100%;
    height: 200px;
    margin-top: 4em;
    cursor: pointer;
    
}


/* .logofont {
  font-size: 2.5em; 
  margin-top: 1em; 
  font-family: 'PT Serif', serif;
  color: white;
  text-shadow: 0 0 2px white;
  cursor: pointer;
  filter: blur(.51px);
  
} */

.mainheader button {
    padding: 10px 15px;
    text-align: center;
    margin-right: 50px;
    font-size: 16px;
    font-weight: 550;
    color: white;
    border: none;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, #64ffc1, #1eb0e1, #4cc2ca);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.45s;
}

.mainheader button:hover {
  box-shadow: 0 4px 14px 0 rgba(40, 230, 240, 0.92), 0 16px 10px 0 rgba(62, 126, 230, 0.495);
}


.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 5; 
  

}



.menu > li {
  background: #00000073;
  float: left;
  position: static;
  transform: skewX(25deg);
  box-shadow: 1px 3px 10px rgb(255, 255, 255);
  border-radius: 9px;
  z-index: 10; 

}

.menu a {
  display: block;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
  font-weight: bold;
}		

.menu li:hover {
  text-decoration: none;
  opacity: 1;
  background-color: #177B70;
  background-image: linear-gradient(62deg, #3ddbffc6 0%, #ffe251f4 100%);

}		

.menu li a:hover {color: black; }


.menu > li:hover > ul {
  display: block;
  position: absolute;
}

.menu > li > a {
  transform: skewX(-25deg);
  padding: 0.85em 1.5em;
  z-index: 10; 
}

/* Dropdown */
.submenu {
  position: absolute;
  width: 180px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;

  
}

.submenu li {
  background-image: linear-gradient(62deg, #25afb6bb 0%, #b42dfd94 100%);
  position: relative;
  border-radius: 9px;		
  overflow: hidden;	


}						

.submenu > li > a {
  padding: 1em 1em;		

}

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.9);	

}		

/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;	

  		
}

.submenu li {
  transition: 0.3s ease-out transform;

}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;

}		

.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}

#preloader{
  background: rgb(0, 0, 0) url('img/AtomGif.gif') no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
#foot {
  width: 100%; 
  position: relative; 
  bottom: 100;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px);
}
/* Media Queries */
@media screen and (max-width: 915px) {
  .mainheader .logo img {
    width: 100%;
    height: 180px;
    margin-top: 0em;
    cursor: pointer;
    }
  
  #checkbtn{text-align: center; display: block; margin-top: 5%; text-shadow: 0 0 2px white;}
  .menu{
    display: inline;
    position: fixed;
    top: 80px;
    width: 100%;
    height: 100px;
    float: right;


  }
  .mainheader {

    display: inline;
    justify-content: normal;
    align-items: stretch;
    }
    .menu > ul {
      background: #00000073;
      float: center;
      position: fixed;
      align-items: center;
      display: block;
      width: 100%;
      height: 100px;
      transform: skewX(25deg);
      box-shadow: 1px 3px 10px rgb(255, 255, 255);
      border-radius: 9px;
    }
  }

