* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#checkbtn{
  float: right;
  margin-right: 30px;
  font-size: 30px;
  color: white;
  display: none;
}



.mainheader {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.mainheader .logo img {
    width: 100%;
    height: 200px;
    padding-left: 0px;
    margin-top: 70px;
    cursor: pointer;
}


.mainheader button {
    padding: 10px 15px;
    text-align: center;
    margin-right: 50px;
    font-size: 16px;
    font-weight: 550;
    color: white;
    border: none;
    background-image: linear-gradient(to right, #0070fa, #2888fe, #5d95ff);
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.45s;
}

.mainheader button:hover {
    box-shadow: 0 4px 14px 0 rgb(173, 215, 255), 0 16px 10px 0 rgba(50, 140, 251, 0.493);
}


.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* Mini reset, no margins, paddings or bullets */
.menu,
.submenu {
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1; 

}

/* Main level */
.menu {			
  margin: 50px auto;
  width: 800px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;	
}

.menu > li {
  background: #00000073;
  float: left;
  position: relative;
  transform: skewX(25deg);
  box-shadow: 1px 3px 10px rgb(255, 255, 255);
  border-radius: 9px;
}

.menu a {
  display: block;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 14px;
  font-weight: bold;

  
}		

.menu li:hover {
  text-decoration: none;
  opacity: 1;
  background-color: #177B70;
  background-image: linear-gradient(62deg, #3ddbffc6 0%, #ffe251f4 100%);
  z-index: 10; 

}		

.menu li a:hover {color: black;}


.menu > li:hover > ul {
  display: block;
  position: absolute;
}

.menu > li > a {
  transform: skewX(-25deg);
  padding: 0.85em 1.5em;

}

/* Dropdown */
.submenu {
  position: absolute;
  width: 180px;
  left: 50%; margin-left: -100px;
  transform: skewX(-25deg);
  transform-origin: left top;
  
}

.submenu li {
  background-image: linear-gradient(62deg, #25afb6bb 0%, #b42dfd94 100%);
  position: relative;
  border-radius: 9px;		
  overflow: hidden;	

}						

.submenu > li > a {
  padding: 1em 1em;		

}

.submenu > li::after {
  content: '';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;			
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.9);	

}		

/* Odd stuff */
.submenu > li:nth-child(odd){
  transform: skewX(-25deg) translateX(0);
}

.submenu > li:nth-child(odd) > a {
  transform: skewX(25deg);
}

.submenu > li:nth-child(odd)::after {
  right: -50%;
  transform: skewX(-25deg) rotate(3deg);
}				

/* Even stuff */
.submenu > li:nth-child(even){
  transform: skewX(25deg) translateX(0);
}

.submenu > li:nth-child(even) > a {
  transform: skewX(-25deg);
}

.submenu > li:nth-child(even)::after {
  left: -50%;
  transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
  opacity: 0;
  visibility: hidden;	

  		
}

.submenu li {
  transition: 0.3s ease-out transform;

}

.menu > li:hover .submenu,
.menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;

}		

.menu > li:hover .submenu li:nth-child(even){
  transform: skewX(25deg) translateX(15px);			
}

.menu > li:hover .submenu li:nth-child(odd){
  transform: skewX(-25deg) translateX(-15px);			
}

#preloader{
  background: rgb(0, 0, 0) url('img/AtomGif.gif') no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media(max-width: 520px){
  .menu{
    margin-top: 250px;
  }
}

/* 
#check:checked ~ .menu{
  margin-top: 250px;
}

#check:checked ~ .menu > li {
  background: #00000073;
  position: relative;
  transform: skewX(25deg);
  box-shadow: 1px 3px 10px rgb(245, 242, 242);
  border-radius: 9px;
}


#check:checked ~.FloatingCardCont .box
{
  margin-top: 1000px;
} */